.main {
    background: white;
    position: absolute;
    top: 65px;
    left: 250px;
    width: calc(100% - 250px);
    height: calc(100% - 65px);
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.main__title-div {
    display: flex;
    /* top: 5vh; */
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    /* background: linear-gradient(45deg, rgb(129, 95, 239), rgb(129, 97, 209)); */
    background: var(--accent-gradient);
    position: relative;
    width: calc(100% - 76px);
    height: 3rem;
    /* min-height: 2rem; */
    /* border-radius: 20px; */
    border-radius: 10px 10px 20px 20px;
    cursor: default;
}
h2.main__title-div__text {
    color: var(--card-color);
    font-size: 1.3rem;
    margin: auto auto;
}


